@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.dark {
  --background: #000000;
  --foreground: #ffffff;
}

@theme {
  --color-mytheme: #8dabff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.2s ease, color 0.2s ease;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.custom{
color: #8dabff;
}